*.bak
*.buildinfo
*.cache
*.Debug
*.dep
*.exe
*.exp
*.idb
*.ilk
*.ipch
*.lastbuildstate
*.lib
*.log
*.mak
*.manifest
*.ncb
*.obj
*.pbxproj
*.pch
*.pdb
*.Release
*.res
*.sdf
*.tlog
*vcproj.*.user
*vcxproj.user
*.vspscc
Debug/
Release/

debug/
release/

*.o
*.a

*.suo
*.opensdf
Makefile